/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #918591d3;
}

main {
    padding: 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
}

.hero-intro .text {
    width: 50%;
}

.hero-intro .text p {
    font-size: 5vw;
    color: #fff;
    font-weight: 600;
}

.hero-intro .text p span {
    background: -webkit-linear-gradient(90deg, blueviolet, #d900ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-intro .image {
    width: 50%;
}

.button {
    background-color: blueviolet;
    font-family: "Ubuntu";
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    width: 150px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
}
.button:hover {
    background-color: #3448b9;
}
.flex-container {
    display: flex;
    /* margin-left: 50px; */
    /* margin-top: 500px; */
}

/* .flex-child-bts,.flex-child-text{
     flex: 1; 
    border: 2px solid yellow; 
}   */

.flex-child-text {
    margin-left: 22px;
}

.flex-child:first-child {
    margin-right: 1%;
}
.flex-child text {
    margin-left: 270px;
}
.item {
    margin-top: 2px;
    width: 350px;
}
