/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #1d1935, blueviolet);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.play .icon {
    background-color: #38314e;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0.001vw 0 0.3vw #fff;
}

.play .icon svg {
    color: #fff;
    width: 1vw;
    height: 1vw;
}

.play .message {
    padding-left: 1%;
}

.play .message h1 {
    color: #fff;
    font-size: 1.1vw;
}

.hero-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    margin-top: -4%;
}

.hero-intro .text {
    width: 50%;
}

.hero-intro .text p {
    font-size: 5vw;
    color: #fff;
    font-weight: 600;
}

.hero-intro .text p span {
    background: -webkit-linear-gradient(360deg, blueviolet, #d900ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-intro .image {
    width: 50%;
}

.button {
    background-color: blueviolet;
    font-family: "Ubuntu";
    border-radius: 0.5vw;
    border-style: none;
    box-sizing: border-box;
    width: 7vw;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8vw;
    font-weight: 500;
    outline: none;
    padding: 10% 5%;
    position: relative;
    text-align: center;
}
.button:hover {
    background-color: #3448b9;
}
.flex-container {
    display: flex;
}

.flex-container .right {
    display: flex;
    width: 35%;
}

.flex-container .left {
    display: flex;
    width: 65%;
}

/* .flex-child-bts,.flex-child-text{
     flex: 1; 
    border: 2px solid yellow; 
}   */

.flex-child-text {
    margin-left: 5%;
}

.flex-child:first-child {
    margin-right: 1%;
}

.item {
    margin-top: 2px;
    /* width: 350px; */
    color: #fff;
    font-size: 0.8vw;
    line-height: 1vw;
}
.down {
    display: flex;
    margin-top: 5%;
    align-items: center;

}
.arrow{
    background-color: #38314e;;
    border-radius: 50%;
    padding:0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.001vw 0 0.3vw 0 #fff;
}
.arrow svg {
    width: 0.8vw;
    height: 0.8vw;
    color: #fff;
  
    
}
.msg{
    padding-left:2%;
    color: white;
    
}
.msg p{
    font-size: small;
}